/*Заголовки*/
h3 {
    font-size: 18px;
    line-height: 30px;
}

/*Ссылки*/
.next-link{
    background-color: #eeeeee;
}
.page-link{
    padding: 15px;
    background-color: #eeeeee;
    color: #fff;
}
.page-link:hover, .next-link:hover{
    background-color: #dfdfdf; 
}
.page-link:active, .next-link:active{
    background-color: #d5d5d5;
    border-top-style: initial;
    border-top-width: 2px;
    border-top-color: hsla(183, 47, 1, 0.1); 
}
.page-link:focus{
    border-style: initial;
    border-width: 2px;
    border-color: #dbdbdb;
}
.sort-by-link, .asc-desc-link{
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
}
.sort-by-link:hover, .asc-desc-link:hover{
    color: rgba(0, 0, 0, 0.6);
}
.sort-by-link:focus, .asc-desc-link:focus{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}