/*Заголовки*/
h3 {
    font-size: 18px;
    line-height: 30px;
}

/*Ссылки*/
.next-link{
    background-color: #eeeeee;
}
.page-link{
    padding: 15px;
    background-color: #eeeeee;
    color: #fff;
}
.page-link:hover, .next-link:hover{
    background-color: #dfdfdf; 
}
.page-link:active, .next-link:active{
    background-color: #d5d5d5;
    border-top-style: initial;
    border-top-width: 2px;
    border-top-color: hsla(183, 47, 1, 0.1); 
}
.page-link:focus{
    border-style: initial;
    border-width: 2px;
    border-color: #dbdbdb;
}
.sort-by-link, .asc-desc-link{
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
}
.sort-by-link:hover, .asc-desc-link:hover{
    color: rgba(0, 0, 0, 0.6);
}
.sort-by-link:focus, .asc-desc-link:focus{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

/*Списки*/
.nav-list, img{
    margin: 0;
    padding: 0;
}
.main-nav{
    padding-top: 49px;
}
.nav-list{
    width: 450px;
    padding-right: 10px;
}
    

.nav-list li{
    display: inline-block;
    text-align: center;
}
.nav-list a{
    display: block;
    padding: 5px 15px;
}
.cart a{
    display: inline-block;
    padding: 0 15px;
}
/**/
.main-nav{
    display: flex;
    min-height: 320px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.main-nav-wrapper{
    width: 100%;
    /* padding-bottom: 80px; */
}
.wrapper{
    display: flex;
    margin: 0 auto;
    padding: 0 10px;
    width: 1150px;
    justify-content: space-between;
}
.page-header{
    margin-bottom: 110px;
}

.deals-list{
    width: 760px;
}
.deals-list{
    display: flex;
    flex-wrap: wrap;
}

