/*Rules that are applicable to every page*/

body {
  margin: 0px;
  padding: 0px;

  font-family: 'Roboto', Arial, sans-serif;

  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  color: #000;  
  background-color: #fff;

  box-sizing: border-box;
}

*, *::after, *::before{
  box-sizing: inherit;
}

img {
  width: 100%;
  height: auto;
}

/*Hide elements*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*Disable underline*/
a {
  text-decoration: none;
}

/*Header*/
.main-header {
  background-color: #eeeeee;
}

.main-nav, .cart {
  line-height: 30px;
}

/*List in line*/
.nav-list{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 600px;
  padding: 0 20px;
}
.nav-list li {
  padding: 0 25px;
  text-align: center;
  
  vertical-align: middle;
}
/*Background image*/
/*Cart*/
.cart{
  width: 160px;
  padding-left: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.cart-link{
  position: relative;
}
.cart-link::before{
  content: "";

  width: 16px;
  height: 18px;

  position: absolute;
  top: 5px;
  right: 95px;

  background-image: url("../img/svg/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*List styles*/
ul {
  list-style-type: none;
}

/*Headings*/
h2 {
  color: #000;
  background-color: #fff;
  font-size: 24px;
  line-height: 30px
}

/*Links in different states*/

.nav-link {
  color: #000;
}

.nav-link:hover {
  color: #fb565a;
}

.nav-link:focus {
  text-decoration: underline;
  text-decoration-color: #fb565a;
}

.nav-link:active {
  color: rgb(0, 0, 0, 0.3);
  text-decoration: none;
}

/*Different states of buttons and links that looks like buttons*/

.button {
  font: inherit;
  text-align: center;
  display: inline-block;
  background-color: #fb565a;
  color: #fff;
  padding: 5px 15px;
  margin: 0;
  border-width: 3px 0 0 0;
  border-color: #fb565a;
  border-style: solid;
  width: 240px;
  min-height: 50px;
  text-decoration: none;
}

.button:hover {
  background-color: #e74246;
  border-color: #e74246;
}

.button:focus {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  border-top-style: solid;
  border-top-width: 3px;
  border-top-color: rgb(0, 0, 0, 0.1);
}

/*Fonts that differ from inherited ones*/

/*In headings*/

.discount-offer {
  line-height: 22px;
}

.company-name, .sort-by-heading {
  font-size: 18px;
}

.modal-heading {
  font-size: 45px;
  line-height: 45px
}

/*Bold fonts that aren't heading*/

.appeal {
  font-size: 36px;
  line-height: 36px
}

.modal-field {
  line-height: 18px;
}

/*Write us modal*/

.address-form {
  background-color: #fff;
  width: 300px;
  padding: 45px 50px;
}
.write-us-button{
  width: 220px;
}