/*Rules that are applicable to every page*/

body {
  margin: 0px;
  padding: 0px;

  font-family: 'Roboto', Arial, sans-serif;

  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  color: #000;  
  background-color: #fff;

  box-sizing: border-box;
}

*, *::after, *::before{
  box-sizing: inherit;
}

img {
  width: 100%;
  height: auto;
}

/*Hide elements*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*Disable underline*/
a {
  text-decoration: none;
}

/*Header*/
.main-header {
  background-color: #eeeeee;
}

.main-nav, .cart {
  line-height: 30px;
  padding-top: 49px;

}

.main-nav{
  width: 100%;
  background-color: #eee;
}

.wrapper {
  width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
/*List in line*/
.nav-list{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 600px;
  padding: 0 20px;
}
.nav-list li {
  padding: 0 25px;
  text-align: center;
  
  vertical-align: middle;
}
/*Background image*/
/*Cart*/
.cart{
  padding-top: 30px;
}
.cart-link{
  position: relative;
}
.cart-link::before{
  content: "";

  width: 16px;
  height: 18px;

  position: absolute;
  top: 0;
  right: 95px;

  background-image: url("../img/svg/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*List styles*/
ul {
  list-style-type: none;
}

/*Headings*/
h2 {
  color: #000;
  background-color: #fff;
  font-size: 24px;
  line-height: 30px
}

/*Links in different states*/

.nav-link {
  color: #000;
}

.nav-link:hover {
  color: #fb565a;
}

.nav-link:focus {
  text-decoration: underline;
  text-decoration-color: #fb565a;
}

.nav-link:active {
  color: rgb(0, 0, 0, 0.3);
  text-decoration: none;
}

/*Different states of buttons and links that looks like buttons*/

.button {
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  background-color: #fb565a;
  color: #fff;
  padding: 15px 15px;
  margin: 0;
  width: 240px;
  height: 50px;

  border-width: 3px 0 0 0;
  border-color: #fb565a;
  border-style: solid;
  border-radius: 3px;
  
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: #e74246;
  border-color: #e74246;
}

.button:focus {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  border-top-style: solid;
  border-top-width: 3px;
  border-top-color: rgb(0, 0, 0, 0.1);
}

/*Fonts that differ from inherited ones*/

/*In headings*/

.discount-offer {
  line-height: 22px;
}

.company-name, .sort-by-heading {
  font-size: 18px;
}

.modal-heading {
  font-size: 45px;
  line-height: 45px
}

/*Bold fonts that aren't heading*/

.appeal {
  font-size: 36px;
  line-height: 36px
}

.modal-field {
  line-height: 18px;
}

/*Address and form*/

.address-form {
  background-color: #fff;
  width: 300px;
  padding: 45px 50px;
}
.write-us-button{
  width: 200px;
}

.address-form{
  position: absolute;
  top: 40px;
  left: 80px;
}

.map-wrapper{
  position: relative;
}
/*Social links*/
.social-link img{
  background-color: #e1e1e1;
  width: 60px;
  height: 60px;
  
}
.social-link{
  padding: 30px;
}
.soc-media{
  display: flex;
  width: 360px;
  padding: 0 20px;
  flex-wrap: nowrap;
  align-items: center;
}
.footer-text{
  display: flex;
  justify-content: center;
  width: 560px;
  flex-direction: column;
  margin: 0 auto;
}
.footer-info{
  display: flex;
  width: 1180px;
  padding: 70px 0;
}

/*Write us modal*/
.write-us {
  width: 960px;
  padding: 30px 100px;

  background-color: #fff;
}
.modal-heading{
  display: inline-block;
  padding-bottom: 50px;
}
.top-forms{
  display: flex;
  width: 760px;
  justify-content: space-between;
  padding-bottom: 30px;
}

/*write us modal form*/
.write-us{
  width: 1000px;
  height: 590px;
  color: #000;
  background-color: #fff;
  box-sizing: border-box;

  padding: 100px 100px;

  display: flex;
  flex-direction: column;
  margin: 0 auto;

  position: relative;

  box-shadow: -5px 2px rgba(0, 1, 1, 0.7);
}
.button-close{
  position: absolute;
  top: 80px;
  left: 880px;

  width: 21px;
  height: 21px;

  font-size: 0;
  border: none;

  background-color: #fff;
}
.button-close:hover{
  background-color: #fff;
}

.button-close::before,
.button-close::after{
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  top: 0;
  left: 0;
  background-image: url("../img/close-cross.png");
  background-repeat: no-repeat;
}
.button-send{
  width: 260px;
}

.top-forms{
  display: flex;
  justify-content: space-between;
}
.write-us label{
  display: block;
}
.name-form, .email-form{
  width: 400px;
  padding: 0 20px;
}
.message-form{
  width: 800px;
  padding: 0 20px;
}
.name-form input, .email-form input{
  width: 380px;
  height: 50px;
  border: 2px solid #d7dcde;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.5);
}
.message-form textarea{
  width: 800px;
  height: 120px;
  border: 2px solid #d7dcde;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.5);
  resize: none;
}
.write-us legend{
  padding: 10px 20px
}
.button-send{
  margin: 20px;
  padding: 10px 20px;
}