/*Links in different states*/

a.button-green {
  border-color: #00ca74;
  border-style: solid;
  background-color: #00ca74;
}

a.button-yellow {
  border-color: #efc84a;
  border-style: solid;
  background-color: #efc84a;
}

a.button-green:hover {
  background-color: #00bc6c;
  border-color: #00bc6c;
}

a.button-green:focus {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

a.button-yellow:hover {
  background-color: #eab534;
  border-color: #eab534;
}

a.button-yellow:focus {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

/*Lists*/

.order-list li {
  list-style-type: initial;
  color: #fb565a;
  padding: 5px 0;
}

.order-text {
  font-size: 16px;
  line-height: 18px;
  color: #000;
  background-color: #fff;
}

/*Lists in line*/

.percents-list {
  padding: 0;
}

.percent {
  vertical-align: top;
  font-size: 22px;
  font-weight: 700;
}

.percents-list li {
  display: inline-block;
  width: 100px;
}

/*Fonts that differ from inherited*/

.percent-about {
  color: #283136;
}

/*Bold fonts that aren't headings*/

.about-us {
  font-size: 44px;
  line-height: 44px;
  padding-bottom: 35px;
  display: inline-block;
}

.percent-number {
  font-size: 45px;
  line-height: 10px
}

.since {
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 50px;
  padding-top: 40px;
  text-transform: uppercase;
  line-height: 24px;
}

.ad {
  padding-bottom: 35px;
}

.we-do {
  display: inline-block;
  padding-bottom: 35px;
}

/*flex*/

/*Основная навигация*/


/*Слайды в шапке*/


header{
  position: relative;
}
input[name="toggle"]{
  position: absolute;
  opacity: 0;
}
.button-controls{
  position: absolute;
  width: 150px;
  height: 20px;
  z-index: 100;
 
  left: 50%;
  bottom: 50px;
}
.radio-label{
  display: inline-block;
  box-sizing: border-box;
  width: 15px;
  height: 15px;;
  margin: 0 3px;
  border: 3px solid #fff;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.slider-list{
  width: 100%;
  background-color: #eee;
}
.slider-list li{
  box-sizing: border-box;
  width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
  height: 350px;
}
.slider-list li{
  display: none;
}
#slide1:checked~.button-controls label[for="slide1"],
#slide2:checked~.button-controls label[for="slide2"],
#slide3:checked~.button-controls label[for="slide3"]{
  background-color: #c1c1c1;
}
#slide1:checked~.slider-list li:nth-child(1){
  display: block;
}
#slide2:checked~.slider-list li:nth-child(2){
  display: block;
}
#slide3:checked~.slider-list li:nth-child(3){
  display: block;
}
.slider-list li:nth-child(1){

  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 100% 40%;
}
.slider-list li:nth-child(2){

  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 40%;
}
.slider-list li:nth-child(3){

  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 40%;
}

.slide-text {
  width: 380px;
  padding: 30px 0;
  color: #283136;
}

.slide-title {
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
  color: black;
}

/*Раздел section с услугами*/

.main-services {
  padding-top: 30px;
  width: 100%;
}

.services-list {
  display: flex;
  justify-content: space-around;
  width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
}

.services-list li {
  width: 360px;
  padding: 0 20px;
}

/*Раздел section с описанием компании*/

.about-company {
  width: 100%;
  padding-top: 80px;
}

.section-wrapper {
  display: flex;
  width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: space-between;
}

.left-wrapper {
  width: 760px;
  padding: 0 20px;
  margin: 0;
}

.right-wrapper {
  width: 360px;
  padding: 0 20px;
  margin: 0;
}

/*Спонсоры*/

.sponsors-list {
  display: flex;
  width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
  justify-content: space-between;
}

/*Background images*/

/*For section with class: main-services*/

.main-services {
  padding-bottom: 80px;
}

.service {
  position: relative;
  padding-top: 200px;
}

.service-first::before {
  content: "";
  width: 300px;
  height: 146px;
  position: absolute;
  top: 15px;
  background-image: url("../img/illustration-1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.service-second::before {
  content: "";
  width: 300px;
  height: 146px;
  position: absolute;
  top: 15px;
  background-image: url("../img/illustration-2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.service-third::before {
  content: "";
  width: 300px;
  height: 146px;
  position: absolute;
  top: 15px;
  background-image: url("../img/illustration-3.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

/*Opacity on sponsors images*/

.sponsors-list img {
  opacity: 0.2;
}

.sponsors-list img:hover {
  opacity: 1;
}

.sponsors-list img {
  opacity: 0.1;
}