
.main-point{
  font-size: 55px;
  line-height: 55px;
}

/*Ссылки в разных состояниях*/
a.button-green{
  background-color: #00ca74;
}
a.button-yellow{
  background-color: #efc84a;
}
a.button-green:hover{
  background-color: #00bc6c;
}
a.button-green:focus{
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}
a.button-yellow:hover{
  background-color: #eab534;
}
a.button-yellow:focus{
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}
/*Настройка списков*/

.order-list li{
  list-style-type: initial;
  color: #fb565a;
}
.order-text{
  font-size: 16px;
  line-height: 18px;
  color: #000;
  background-color: #fff;
}

.nav-list, img{
  margin: 0;
  padding: 0;
}
.main-nav{
  padding-top: 49px;
}
.nav-list{
  width: 450px;
  padding-right: 10px;
}
  

.nav-list li{
  display: inline-block;
  text-align: center;
}
.nav-list a{
  display: block;
  padding: 5px 15px;
}
.cart a{
  display: inline-block;
  padding: 0 15px;
}

/*Заголовки*/
.company-name{
  font-size: 18px;
}
.sort-by-heading{
  font-size: 18px;
  line-height: 18px;
}
.modal-heading{
  font-size: 45px;
  line-height: 45px
}
/*Жирный шрифт на макете, который заголовком не является*/
.main-point{
  font-size: 55px;
  line-height: 55px;
}
.about-us{
  font-size: 44px;
  line-height: 44px;
}
.percent-number, .percent{
  font-size: 45px;
  line-height: 10px
}
.appeal{
  font-size: 36px;
  line-height: 36px
}
.modal-field{
  line-height: 18px;
}
.filter-name{
  font-size: 30px;
  line-height: 30px;
}
/*Шрифты на странице, которые отличаются от наследуемых в body*/
.percent-about, .address-and-phone, .button, :placeholder-shown{
  font:inherit;
  line-height: 18px;
}
.discount-offer{
  line-height: 22px;
}

/*flex*/
.main-nav-wrapper{
  width: 100%;
}
.wrapper{
  width: 1150px;
  padding: 0 10px;
  display: flex;
  justify-content: space-around;
}
