
body{
  /*Стили для приведения к одному виду в разных браузерах*/
  margin: 0px;
  padding: 0px;
/*Настройка шрифтов как на макете*/
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #000;
  font-weight: 400;

  background-color: #fff;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

a{
  text-decoration: none;
}

.main-header{
  background-color: #eeeeee;
}
.main-nav, .cart{
  line-height: 30px;
}
.main-point{
  font-size: 55px;
  line-height: 55px;
}

/*Ссылки в разных состояниях*/
a:hover{
  color: #fb565a;
}
a:active{
  color: rgb(0, 0, 0, 0.3);
}
a:focus{
  text-decoration: underline;
  text-decoration-color: #fb565a;
}
/*Кнопки в разных состояниях*/
a.button{
  font: inherit;

  background-color: #fb565a;
  color: #fff;

  padding: 5px 15px;
  margin: 0px;

  text-decoration: none;
}
a.button:hover{
  background-color: #e74246;
}
a.button:focus{
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}
a.button-green{
  background-color: #00ca74;
}
a.button-yellow{
  background-color: #efc84a;
}
a.button-green:hover{
  background-color: #00bc6c;
}
a.button-green:focus{
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}
a.button-yellow:hover{
  background-color: #eab534;
}
a.button-yellow:focus{
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}
/*Настройка списков*/
ul{
  /*Только у одного списка есть точки слева, поэтому отключаем*/
  list-style-type: none;
}
.order-list li{
  list-style-type: initial;
  color: #fb565a;
}
.order-text{
  font-size: 16px;
  line-height: 18px;
  color: #000;
  background-color: #fff;
}

/*Заголовки*/
h2 {
  color: #000;
  background-color: #fff;
  font-size: 24px;
  line-height: 30px
}
.company-name{
  font-size: 18px;
}
.sort-by-heading{
  font-size: 18px;
  line-height: 18px;
}
.modal-heading{
  font-size: 45px;
  line-height: 45px
}
/*Жирный шрифт на макете, который заголовком не является*/
.main-point{
  font-size: 55px;
  line-height: 55px;
}
.about-us{
  font-size: 44px;
  line-height: 44px;
}
.percent-number, .percent{
  font-size: 45px;
  line-height: 10px
}
.appeal{
  font-size: 36px;
  line-height: 36px
}
.modal-field{
  line-height: 18px;
}
.filter-name{
  font-size: 30px;
  line-height: 30px;
}
/*Шрифты на странице, которые отличаются от наследуемых в body*/
.percent-about, .address-and-phone, .button, :placeholder-shown{
  font:inherit;
  line-height: 18px;
}
.discount-offer{
  line-height: 22px;
}