
body{
  /*Стили для приведения к одному виду*/
  margin: 0px;
  padding: 0px;
/*Настройка шрифтов как на макете*/
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #000;
  font-weight: 400;

  background-color: #fff;
}

a{
  /*Убрать подчёркивания у ссылок */
  text-decoration: none;
}

.main-header{
  background-color: #eeeeee;
}
.main-nav, .cart{
  line-height: 30px;
}
.main-point{
  font-size: 55px;
  line-height: 55px;
}
/*Привести кнопки и некоторые сслыки к одному виду*/
.button, .learn-more, .order{
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  width: 120px;
  background-color: #fb565a;
}
.order-green{
  background-color: #00ca74;
}
.order-yellow{
  background-color: #efc84a;
}
.write-us-button{
  width: 180px;
}

/*Ссылки в разных состояниях*/
a:hover{
  color: #fb565a;
}
a:active{
  color: rgb(0, 0, 0, 0.3);
}