html, body{
	box-sizing: border-box;
}
*, *::before, *::after{
	box-sizing: inherit;
}

/*Hide dots on the lists and adjust them to the left*/
.checkbox-list, .radio-list, .price-numbers{
	margin: 0;
	padding: 0;

	list-style-type: none;
}
.checkbox-list li, .radio-list li{
	padding: 5px 35px;
}
.checkbox-list label, .radio-list label{
	position: relative;
	display: block;
	cursor: pointer;
}
/*Radio buttons and checkboxes when checked and unchecked*/
.radio-button + label::before{
	content: "";
	position: absolute;
	left: -42px;
	top: -4px;

	width: 25px;
	height: 25px;
	
	background-image: url("radio-off-grey.png");
	background-repeat: no-repeat;
}
.radio-button:checked + label::after{
	content: "";
	position: absolute;
	left: -42px;
	top: -4px;

	width: 25px;
	height: 25px;
	
	background-image: url("radio-on-grey.png");
	background-repeat: no-repeat;
}

.radio-button:checked + label::before{
	display: none;
}
.checkbox + label::before{
	content: "";
	position: absolute;
	left: -42px;
	top: -1px;

	width: 25px;
	height: 25px;
	
	background-image: url("checkbox-off-grey.png");
	background-repeat: no-repeat;
}
.checkbox:checked + label::after{
	content: "";

	position: absolute;
	left: -41.6px;
	top: -1px;

	width: 27px;
	height: 23px;

	background-image: url("checkbox-on-grey.png");
	background-repeat: no-repeat;
}
.checkbox:checked + label::before{
	display: none;
}
.visually-hidden{
	opacity: 0;
}
/*Hide border on forms*/
form fieldset{
	border: none;
}

/*First form with double range and inputs fields*/
.price-range-text{
	background-color: #eeeeee;
	border: none;

	width: 80px;
	height: 38px;

	
	text-align: center;
	
	border-radius: 5px;
	font-size: 16px;

	margin-left: 5px;
}
label[for="max-price"]{
	padding-left: 40px;
}
.price-field strong{
	text-transform: uppercase;
}
form legend{
	font-size: 18px;
	line-height: 30px;
}

.price-numbers li{
	display: inline-block;
}
/*Double range*/
.chosen-range{
	position: absolute;
	top: 0px;
	left: 1px;

	height: 2px;
	width: 140px;

	background-color: #00ca74;
}
.whole-range{
	position: absolute;
	top: 40px;
	left: 5px;

	height: 2px;
	width: 90%;
	
	background-color: #d7dcde;
}

.range-bg{
	position: relative;

	box-sizing: border-box;
	width: 260px;
	height: 80px;

	background-color: #eeeeee;
	border-radius: 5px;
}

.toggle{
	position: relative;
	
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	background-color: #ababab;
	border-radius: 50%;
	border: 8px solid #fff;
}
.toggle-min{
	top: 31px;
	left: 2px;
}
.toggle-max{
	top: 11px;
	left: 140px;
}
.price-form{
	width: 260px;
}
/*Spaces between forms*/
.price-numbers{
	padding-top: 14px;
}
.price-field{
	margin-bottom: 60px;
}
.radio-form{
	margin-bottom: 50px;
}
.radio-list, .checkbox-list{
	margin-left: 10px;
}
.price-field{
	margin-left: 5px;
}
.radio-list, .checkbox-list{
	padding-top: 15px;
}