html, body{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}

/*Main offers*/
.hover-info{
  display: none;
}
.item-link:hover+.hover-info,
.item-link:focus+.hover-info,
.item-link:active+.hover-info
{
  display: block;
}
.item-link:hover+.hover-info::after,
.item-link:active+.hover-info::after,
.item-link:focus+.hover-info::after{
  content: "";
  position: absolute;
  top: -404px;
  left: 0;
  width: 360px;
  height: 40px;

  background-image: url("img/browser.png");
  background-repeat: no-repeat;
}
/*Flex*/
.deals-list{
  list-style-type: none;
  width: 800px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}
.item-link img{
  width: 360px;
  height: 616px;
}
.deal-item{
  position: relative;
  padding: 15px 0;
}
.hover-info{
  position: absolute;
  top: 420px;
  left: 0;

  width: 360px;
  min-height: 213px;

  background-color: #eeeeee;
  text-align: center;
}


/*Button*/
.button {
  text-transform: uppercase;
  font: inherit;
  text-align: center;
  display: inline-block;
  background-color: #fb565a;
  color: #fff;
  padding: 15px 15px;
  margin: 0;
  width: 240px;
  height: 50px;

  border-width: 3px 0 0 0;
  border-color: #fb565a;
  border-style: solid;
  border-radius: 3px;
  
  text-decoration: none;
}

.button:hover {
  background-color: #e74246;
  border-color: #e74246;
}

.button:focus {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  border-top-style: solid;
  border-top-width: 3px;
  border-top-color: rgb(0, 0, 0, 0.1);
}

/*flex links to dif pages at the bottom*/
.pages-list{
  list-style-type: none;
  width: 450px;
  margin: 0 auto;
  padding: 0 11px;
  display: flex;
  justify-content: space-between;
  
}
.page-link{
  width: 50px;
  height: 50px;

  border: none;
  background-color: #eeeeee;
  color: #000;
}
.page-link:hover{
  background-color: #dfdfdf;
  border: none;
}
.page-link:active{
  background-color: #d5d5d5;
  border-top: 3px solid rgba(0, 0, 1, 0.1);
}
.page-link:focus, 
.current-page{
  border: 3px solid #eee;
  background-color: #fff;
  color: #000;
}
.next-link{
  width: 260px;

  line-height: 20px;

  background-color: #eeeeee;
  color: #000;

  border: none;
}
.next-link:hover{
  background-color: #dfdfdf;
}
.next-link:active, .next-link:focus{
  background-color: #d5d5d5;
  border-top: 3px solid rgba(0, 0, 1, 0.1);
}

/*test*/
.catalog{
  position: relative;
}
.pages-list{
  position: absolute;
  bottom: 0;
  left: 0;
}