html{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
ul{
  margin: 0;
  padding: 0;

  list-style-type: none;
}
header{
  position: relative;
}
input[name="toggle"]{
  position: absolute;
  opacity: 0;
}
.button-controls{
  position: absolute;
  width: 150px;
  height: 20px;
  z-index: 100;
 
  left: 50%;
  bottom: 50px;
}
.radio-label{
  display: inline-block;
  box-sizing: border-box;
  width: 15px;
  height: 15px;;
  margin: 0 3px;
  border: 3px solid #fff;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.slider-list{
  width: 100%;
  background-color: #eee;
}
.slider-list li{
  box-sizing: border-box;
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
  height: 350px;
}
.slider-list li{
  display: none;
}
#slide1:checked~.button-controls label[for="slide1"],
#slide2:checked~.button-controls label[for="slide2"],
#slide3:checked~.button-controls label[for="slide3"]
{
  background-color: #c1c1c1;
}
#slide1:checked~.slider-list li:nth-child(1){
  display: block;
}
#slide2:checked~.slider-list li:nth-child(2){
  display: block;
}
#slide3:checked~.slider-list li:nth-child(3){
  display: block;
}
.slider-list li:nth-child(1){

  background-image: url("img/slide1.png");
  background-repeat: no-repeat;
  background-position: 100% 40%;
}
.slider-list li:nth-child(2){

  background-image: url("img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 40%;
}
.slider-list li:nth-child(3){

  background-image: url("img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 40%;
}

.slide-text {
  width: 380px;
  padding: 30px 0;
  color: #283136;
}

.slide-title {
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
  color: black;
}